.cardWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: 260px;
  overflow: auto;
  height: calc(100% - 83px);
}

:global {
  .el-input__suffix-inner {
    align-items: center;
  }
}
