.loginWrapper {
  @apply relative overflow-hidden text-center flex items-center justify-center h-full;

  .loginCard {
    @apply relative overflow-visible;
    padding: 30px 50px;
    min-width: 580px;

    .cardHeader {
      @apply text-5xl tracking-widest font-serif subpixel-antialiased font-semibold;
      color: #4a87a1;
    }

    .loginLoginBtn {
      @apply mt-12 w-full;
    }

    .cardBackground {
      top: -150px;
      left: -200px;
      width: 400px;
      height: 400px;
      background-color: rgba(86, 156, 186, 0.8);
    }
  }
}

.circleBackground {
  @apply rounded-full absolute shadow-xl -z-10;
}

.wrapperBackground {
  bottom: -300px;
  right: -250px;
  width: 600px;
  height: 600px;
  background-color: rgba(86, 156, 186, 0.6);
}

:global {
  .el-input__prefix,
  .el-input__suffix {
    align-items: center;
  }

  .el-badge__content {
    letter-spacing: 0;
  }
}
